<div class="modal">
  <div class="modal-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h1>About</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <p>
            Make so everyone can easily share messages by just sharing url.
          </p>
          <p>
            When you edit message or change color of message the url will change.
          </p>
        </div>
        <a class="github-fork-ribbon" href="https://github.com/erkkki/newyear" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="closeAbout.emit()">close</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

