
<app-background></app-background>

<app-message [edit]="editState"></app-message>
<app-settings *ngIf="editState"></app-settings>
<div class="buttons">
  <button *ngIf="!editState" mat-fab color="primary" (click)="editState = !editState"><mat-icon>create</mat-icon></button>
  <button *ngIf="editState" mat-fab color="warn" (click)="editState = !editState"><mat-icon>create</mat-icon></button>
</div>
<!--TODO show color picker when editing? Font selector?-->

<!--<router-outlet></router-outlet>-->
