.container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
}
.center {
  position: relative;
  left: -50%;
}
.message {
  background-color: rgba(34, 34, 34, 0.4);

}

.editable {
  font-size: 4rem;
  border:none;
  outline:none;
  background:transparent;
}
